
# Database Connection Config
DB_USER="postgres"
DB_PASSWORD="somepassword"
DB_NAME="somedatabase"
DB_PORT=5432
DB_HOST="localhost"

# JWT Configuration
JWT_ACCESS_SECRET="change-me-access-secret"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="change-me-refresh-secret"
JWT_REFRESH_EXPIRES_IN="7d"

# Access
MASTER_USER_PASSWORD=
